PORT=3000

MONGO_URI=mongodb+srv://USUARIO:PASSWORD@NOMBRECLUSTER.nfucpzq.mongodb.net/?appName=NOMBRECLUSTER
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
EXPOSE_VERIFICATION_CODE=true

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=Growly App
MAIL_SUPPORT=
MAIL_FROM=Growly App <support@example.com>
FRONTEND_PASSWORD_RESET_URL=http://localhost:4200/change-password
