PORT=3000

// base de datos
MONGO_URI=mongodb+srv://USUARIO:PASSWORD@NOMBRECLUSTER.nfucpzq.mongodb.net/?appName=NOMBRECLUSTER

// jwt
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

// se expone el código de verificación en la respuesta de la API para fines de desarrollo y pruebas
EXPOSE_VERIFICATION_CODE=true

// conexión con el servicio de correo electrónico Brevo
BREVO_API_KEY=
BREVO_SENDER_EMAIL=support@example.com
BREVO_SENDER_NAME=Growly App
MAIL_SUPPORT=support@example.com
MAIL_FROM=Growly App <support@example.com>

// URL del frontend para restablecer la contraseña
FRONTEND_PASSWORD_RESET_URL=http://localhost:5173/restablecer-contrasena
FRONTEND_BLOCKED_PASSWORD_CHANGE_URL=http://localhost:5173/cambiar-contrasena
